/*=============== FONTS ===============*/
@font-face {
    font-family: "Duepuntozero";
    src: url("../fonts/Duepuntozero-Regular-Trial.ttf") format("truetype");
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia-Italic.ttf") format("truetype");
}

/*=============== VARIABLES CSS ===============*/
:root {
    --header-color: #2e241d;
    --background-color: #493a32;
    --footer-color: #3f312a;

    --body-color: #f1efed;
    --main-body-color: #f8f7f6;
    --border-color: #5c4a41;
    --shadow-color: #aa8c7b;

    --dark-text-color: #2f231e;
    --text-color: #766d69;
    --title-color: #82696c;

    --header-font: Helvetica, serif;
    --heading-font: Duepuntozero, serif;
    --body-font: Arial, serif;
    --quote-font: Georgia, serif;

    --h1-font-size: 4.1rem;
    --h2-font-size: 3rem;
    --header-font-size: 1.8rem;
    --quote-font-size: 2rem;
    --author-font-size: 1.4rem;
    --normal-font-size: 1.3rem;
    --small-font-size: 1.1rem;
    --author-mail-font-size: 1rem;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: var(--normal-font-size);
    background: var(--body-color);
    font-family: var(--body-font);
    color: var(--text-color);
}
h1,
h2,
h3 {
    font-family: var(--heading-font);
    font-weight: 300;
}
h2 {
    color: var(--dark-text-color);
    font-size: var(--h1-font-size);
}
h3 {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-transform: capitalize;
    letter-spacing: -0.3px;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input {
    border: none;
    outline: none;
}
p {
    overflow-x: hidden;
    word-wrap: break-word;
}
/*=============== LAYOUT ===============*/
.header {
    background: var(--background-color);
    min-height: 267px;
    box-shadow: 0 0 100px var(--shadow-color);
    border-bottom: 1px solid #ffffff;
}
.header__background-top {
    background: var(--header-color);
    height: 54px;
    border-bottom: 1px solid var(--border-color);
}

.header__container {
    background: #3b2e28;
    display: flex;
    min-height: calc(267px - 54px - 1px);
    position: relative;
    border: solid var(--border-color);
    border-width: 0 1px;
}
.container {
    max-width: 1002px;
    margin: 0 auto;
}
.main {
    padding: 3.7rem 3.6rem 10.6rem 34.8rem;
    background: var(--main-body-color);
    border: solid #ffffff;
    border-width: 0 1px;
}
.footer {
    min-height: 95px;
    background: var(--background-color);
    color: #ffffff;
    font-size: var(--small-font-size);
    text-transform: uppercase;
}
.footer__container {
    display: flex;
    align-items: center;
    background: var(--footer-color);
    min-height: 95px;
    border: solid var(--border-color);
    border-width: 0 1px;
}
/*=============== HOME ===============*/
.nav {
    position: absolute;
    right: 0.8rem;
    top: -6.6rem;
}
.nav__menu {
    display: none !important;
}
.nav__list {
    display: flex;
    align-items: baseline;
}
.nav__item {
    width: 120px;
    height: 120px;
    padding-top: 4rem;
    margin-left: 1rem;
    text-align: center;
    transition: transform 0.5s;
    cursor: pointer;
}
.nav__item p {
    margin-top: 1rem;
    text-transform: uppercase;
    color: #c7b18d;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
}
.nav__item:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
}
.nav--active {
    background-image: url("../images/nav_active.png");
    background-position: top;
}

.header__info {
    display: flex;
    padding: 8.5rem 0 2.5rem 16.7rem;
}
.header__logo-img {
    position: absolute;
    top: -14.4rem;
    left: -9.2rem;
}
.header__info-light {
    width: 151px;
    margin-top: 2.8rem;
    font-size: 68px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #ede9e6;
}
.header__info-box {
    font-size: 17px;
    text-transform: uppercase;
    margin-left: 7.5rem;
    color: #eddcbb;
}
.header__overview {
    max-width: 60%;
    padding: 0.8rem 0 1rem 2.8rem;
    border-left: 1px solid var(--border-color);
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    line-height: 25px;
}
.header__description,
.footer__info-title {
    color: #968379;
}

.feature {
    display: flex;
    border-bottom: 1px solid #d6d0cc;
    padding-bottom: 3.8rem;
}
.feature__content {
    flex: 6;
}
.feature__quote {
    flex: 5;
}
.feature__title {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #d6d0cc;
}
.feature__title::first-letter {
    text-transform: capitalize;
}
.feature__item {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.feature__item ~ .feature__item {
    margin-top: 2.7rem;
    display: flex;
}
.feature__item-details {
    width: 84%;
}
.feature__item-subtitle {
    text-transform: capitalize;
}
.feature__item-img {
    align-self: flex-start;
}
.feature__item-description {
    padding-top: 1rem;
    line-height: 2rem;
}
.feature__quote-content {
    position: relative;
    background: #eeece9;
    margin-left: 3rem;
    padding: 2.4rem 2.2rem 3.2rem 2.8rem;
    font-family: var(--quote-font);
    font-size: var(--quote-font-size);
    line-height: 27px;
    color: #7f6357;
}
.feature__quote-content p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.feature__quote-content p:last-child {
    margin-top: 2.6rem;
}
.feature__quote-content::after {
    content: "";
    position: absolute;
    right: 3.5rem;
    bottom: -3.5rem;
    border-top: 3.5rem solid #eeece9;
    border-right: none;
    border-left: 3.5rem solid transparent;
    border-bottom: none;
}
.feature__quote-author {
    margin: 4.2rem 0.4rem 0 0;
    float: right;
    font-size: var(--author-font-size);
}
.feature__quote-name {
    color: var(--dark-text-color);
    font-weight: 800;
}
.feature__quote-email {
    color: #96633d;
    font-size: var(--author-mail-font-size);
}

.work__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2.6rem;
    gap: 2rem;
}
.work__title {
    text-transform: capitalize;
}
.work__pagination-list {
    display: flex;
    margin-left: auto;
}
.work__pagination-item {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-left: 0.8rem;
    background: #7a676c;
    color: #ffffff;
}
.page--active {
    background: #ac8f91;
}
.work__img {
    padding: 1.8rem 0 1rem;
}
.work__img-description {
    text-align: right;
    font-style: italic;
}

.footer__content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 3.2rem;
}
.footer__img {
    width: 350px;
    padding: 0.5rem 0 0.5rem 8.6rem;
    background: #33271f;
    min-height: 95px;
    border-right: 2px solid var(--border-color);
}
.footer__info {
    line-height: 14px;
}
.footer__copyright {
    padding-right: 4.6rem;
}

/*=============== BREAKPOINTS ===============*/
@media (max-width: 991.98px) {
    .main {
        padding-left: 16.7rem;
    }
    .nav__item {
        margin-left: 0;
    }
    .work__images,
    .work__img-description {
        text-align: center;
    }
    .footer__info,
    .footer__copyright {
        line-height: 20px;
        padding-left: 3.2rem;
    }
}

@media (max-width: 767.98px) {
    .nav__list {
        display: none;
    }
    .nav__menu {
        display: inline-block !important;
        margin: 5.3rem 3.6rem 0 0;
        color: #7a6053;
    }
    .header__info {
        flex-direction: column;
    }
    .header__overview {
        max-width: 100%;
        margin: 1rem 3.6rem 0 0;
    }
    .feature__quote {
        display: none;
    }
    .footer__img {
        width: 45%;
        padding: 0.5rem 0 0.5rem 6.6rem;
    }
}

@media (max-width: 575.98px) {
    .header__info {
        padding: 8.5rem 0 2.5rem 3.6rem;
    }
    .header__logo-img {
        left: -1.4rem;
        top: -11rem;
        width: 15rem;
    }
    .main {
        padding: 3.7rem 3.6rem 10.6rem;
    }
    .feature {
        flex-direction: column;
    }
    .footer__container {
        flex-direction: column;
    }
    .footer__img {
        width: 100%;
        border: none;
        padding: 0;
        padding-left: 3.2rem;
    }
    .footer__content {
        padding: 1rem 0;
    }
}
