/*=============== FONTS ===============*/
@font-face {
    font-family: "Duepuntozero";
    src: url("../fonts/Duepuntozero-Regular-Trial.ttf") format("truetype");
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia-Italic.ttf") format("truetype");
}

/*=============== VARIABLES CSS ===============*/
:root {
    --header-color: #2e241d;
    --background-color: #493a32;
    --footer-color: #3f312a;

    --body-color: #f1efed;
    --main-body-color: #f8f7f6;
    --border-color: #5c4a41;
    --shadow-color: #aa8c7b;

    --dark-text-color: #2f231e;
    --text-color: #766d69;
    --title-color: #82696c;

    --header-font: Helvetica, serif;
    --heading-font: Duepuntozero, serif;
    --body-font: Arial, serif;
    --quote-font: Georgia, serif;

    --h1-font-size: 41px;
    --h2-font-size: 30px;
    --header-font-size: 18px;
    --quote-font-size: 20px;
    --author-font-size: 14px;
    --normal-font-size: 13px;
    --small-font-size: 11px;
    --author-mail-font-size: 10px;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: var(--normal-font-size);
    background: var(--body-color);
    font-family: var(--body-font);
    color: var(--text-color);
}
h1,
h2,
h3 {
    font-family: var(--heading-font);
    font-weight: 300;
}
h2 {
    color: var(--dark-text-color);
    font-size: var(--h1-font-size);
}
h3 {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    letter-spacing: -0.3px;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}
button,
input,
textarea {
    border: none;
    outline: none;
}
p {
    overflow-x: hidden;
    word-wrap: break-word;
}

/*=============== LAYOUT ===============*/
.header {
    background: var(--background-color);
    min-height: 267px;
    box-shadow: 0 0 100px var(--shadow-color);
    border-bottom: 1px solid #ffffff;
}
.header__background-top {
    background: var(--header-color);
    height: 54px;
    border-bottom: 1px solid var(--border-color);
}

.header__container {
    background: #3b2e28;
    min-height: calc(267px - 54px - 1px);
    display: flex;
    position: relative;
    border: solid var(--border-color);
    border-width: 0 1px;
}
.container {
    max-width: 1002px;
    margin: 0 auto;
}
.main {
    background: var(--main-body-color);
    padding: 37px 36px 106px 348px;
    border: solid #ffffff;
    border-width: 0 1px;
}
.footer {
    min-height: 95px;
    background: var(--background-color);
    color: #ffffff;
    font-size: var(--small-font-size);
    text-transform: uppercase;
}
.footer__container {
    background: var(--footer-color);
    min-height: 95px;
    display: flex;
    align-items: center;
    border: solid var(--border-color);
    border-width: 0 1px;
}
/*=============== HOME ===============*/
.nav {
    position: absolute;
    right: 8px;
    top: -66px;
}
.nav__menu,
.nav__btn-close {
    display: none;
    color: #7a6053;
}
.nav__list {
    display: flex;
    align-items: baseline;
}
.nav__list--toggle {
    width: 150px !important;
}
.nav__item {
    width: 120px;
    height: 120px;
    padding-top: 40px;
    margin-left: 10px;
    text-align: center;
    transition: transform 0.5s;
}
.nav__item p {
    margin-top: 10px;
    text-transform: uppercase;
    color: #c7b18d;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
}
.nav__item:hover,
.nav__menu:hover,
.nav__btn-close:hover {
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
}
.nav--active {
    background-image: url("../images/nav_active.png");
    background-position: top;
}

.header__info {
    display: flex;
    padding: 85px 0 25px 167px;
}
.header__logo-img {
    position: absolute;
    top: -144px;
    left: -92px;
}
.header__info-light {
    width: 151px;
    margin-top: 28px;
    font-size: 68px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #ede9e6;
}
.header__info-box {
    margin-left: 75px;
    font-size: 17px;
    text-transform: uppercase;
    color: #eddcbb;
}
.header__overview {
    max-width: 60%;
    padding: 8px 0 10px 28px;
    border-left: 1px solid var(--border-color);
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    line-height: 25px;
}
.header__description,
.footer__info-title {
    color: #968379;
}

.feature {
    display: flex;
    border-bottom: 1px solid #d6d0cc;
    padding-bottom: 38px;
}
.feature__content {
    flex: 6;
}
.feature__quote {
    flex: 5;
}
.feature__title {
    padding-bottom: 15px;
    border-bottom: 1px solid #d6d0cc;
}
.feature__item {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.feature__item ~ .feature__item {
    display: flex;
    margin-top: 27px;
}
.feature__item-details {
    width: 84%;
}
.feature__item-img {
    align-self: flex-start;
}
.feature__item-description {
    padding-top: 10px;
    line-height: 20px;
}
.feature__quote-content {
    position: relative;
    margin-left: 30px;
    padding: 24px 22px 32px 28px;
    font-family: var(--quote-font);
    font-size: var(--quote-font-size);
    line-height: 27px;
    color: #7f6357;
    background: #eeece9;
}
.feature__quote-content::after {
    content: "";
    position: absolute;
    right: 35px;
    bottom: -35px;
    border: none;
    border-top: 35px solid #eeece9;
    border-left: 35px solid transparent;
}
.feature__quote-content p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.feature__quote-content p:last-child {
    margin-top: 26px;
}
.feature__quote-author {
    margin: 42px 4px 0 0;
    float: right;
    font-size: var(--author-font-size);
}
.feature__quote-name {
    color: var(--dark-text-color);
    font-weight: 800;
}
.feature__quote-email {
    color: #96633d;
    font-size: var(--author-mail-font-size);
    text-transform: uppercase;
}

.work__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 26px;
    gap: 20px;
}
.work__pagination-list {
    display: flex;
    margin-left: auto;
}
.work__pagination-item {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-left: 8px;
    background: #7a676c;
    color: #ffffff;
}
.work__pagination-item:hover {
    cursor: pointer;
}
.page--active {
    background: #ac8f91;
}
.work__img {
    padding: 18px 0 10px;
}
.work__img-description {
    text-align: right;
    font-style: italic;
}

.footer__content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 32px;
}
.footer__img {
    width: 350px;
    min-height: 95px;
    padding: 5px 0 5px 86px;
    border-right: 2px solid var(--border-color);
    background: #33271f;
}
.footer__info {
    line-height: 14px;
}
.footer__copyright {
    padding-right: 46px;
}

/*=============== BREAKPOINTS ===============*/
@media (max-width: 991.98px) {
    .main {
        padding-left: 167px;
    }
    .nav__item {
        margin-left: 0;
    }
    .work__images,
    .work__img-description {
        text-align: center;
    }
    .footer__info,
    .footer__copyright {
        line-height: 20px;
        padding-left: 32px;
    }
}

@media (max-width: 767.98px) {
    .nav__menu {
        display: inline-block;
        margin: 53px 36px 0 0;
    }
    .nav__btn-close {
        display: inline-block;
    }
    .nav__list {
        width: 0;
        height: 100%;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        padding-top: 50px;
        background-color: var(--header-color);
        overflow-x: hidden;
        transition: 0.5s;
    }
    .nav__btn-close {
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 28px;
    }
    .nav__item {
        margin: 0 auto;
    }

    .header__info {
        flex-direction: column;
    }
    .header__overview {
        max-width: 100%;
        margin: 10px 36px 0 0;
    }
    .feature__quote {
        display: none;
    }
    .footer__img {
        width: 45%;
        padding: 5px 0 5px 66px;
    }
}

@media (max-width: 575.98px) {
    .header__info {
        padding: 85px 0 25px 36px;
    }
    .header__logo-img {
        left: -14px;
        top: -110px;
        width: 150px;
    }
    .main {
        padding: 37px 36px 106px;
    }
    .feature {
        flex-direction: column;
    }
    .footer__container {
        flex-direction: column;
    }
    .footer__img {
        width: 100%;
        border: none;
        padding: 0;
        padding-left: 32px;
    }
    .footer__content {
        padding: 10px 0;
    }
}
